<!-- Background & animion & navbar & title -->
<div class="container-fluid">
  <!-- Background animtion-->
  <div class="background">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>
  <!-- header -->
  <header>
    <!-- navbar -->
    <nav>
      <ul>
        <button style="margin:5px;" class="btn btn-danger mr-1" (click)="logout()">
          Cerrar Sesión
        </button>
        <button style="margin:5px;" class="btn btn-warning mr-1" (click)="home()">
          Home
        </button>
        <button style="margin:5px;" class="btn btn-primary" (click)="solicitudes()">
          Solicitudes
        </button>
      </ul>
    </nav>
    <!-- title & content -->
    <section class="header-content">
      <h1 class="titulo text-center">Solicitudes</h1>

      <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
        <div class="card-body"
          style="width: 100%; margin-left: auto; margin-right: auto; background-color: rgb(78, 158, 223);">
          <form [formGroup]="form_nueva" class="form-nueva" (ngSubmit)="IniciarSolicitud()" id="form_nueva">
            <label for="inputNombreSolicitud" class="sr-only">Name List</label>
            <input type="text" formControlName="titulo" id="inputNombreSolicitud" class="form-control"
              placeholder="Título Solicitud" autofocus="">
            <br>
            <label for="inputDescripcion" class="sr-only">Descripción</label>
            <textarea formControlName="descripcion" class="form-control" id="inputDescripcion" rows="3"
              placeholder="Descripción"></textarea>
            <br>
            <button type="submit" id="bCreate">Iniciar Solicitud</button>
          </form>
        </div>
      </div>
    </section>
  </header>
