<!-- Background & animion & navbar & title -->
<div class="container-fluid">
  <!-- Background animtion-->
  <div class="background">
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
    <div class="cube"></div>
  </div>
  <!-- header -->
  <header>
    <!-- navbar -->
    <nav>
      <ul>
        <button style="margin:5px;" class="btn btn-danger mr-1" (click)="logout()">
          Cerrar Sesión
        </button>
        <button style="margin:5px;" class="btn btn-warning mr-1" (click)="home()">
          Home
        </button>
        <button style="margin:5px;" class="btn btn-primary" (click)="solicitudes()">
          Solicitudes
        </button>
      </ul>
    </nav>
    <!-- title & content -->
    <section class="header-content">
      <mat-card class="center example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{solicitud.titulo}}</mat-card-title>
          <mat-card-subtitle>{{solicitud.estado}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.petbusinessinsurance.co.uk/img/dogwalking.jpg">
        <mat-card-content>
          <p>
            {{solicitud.descripcion}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button  (click)="Aceptar()">Iniciar</button>
          <button mat-button (click)="Rechazar()">Rechazar</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </header>
